<a href="#item/<%= id %>">
    <%= title %>
</a>
<div class="btn-group pull-right">
    <button class="btn btn-default btn-xs js-qrcode"><span class="glyphicon glyphicon-qrcode" title="QR Code"></span><span class='hidden-xs'> QR Code</span></button>
    <button class="btn btn-default btn-xs js-rename"><span class="glyphicon glyphicon-pencil" title="Переименовать"></span><span class='hidden-xs'> Переименовать</span></button>
    <button class="btn btn-default btn-xs js-copy"><span class="glyphicon glyphicon-duplicate" title="Копия"></span><span class='hidden-xs'> Копия</span></button>
    <button class="btn btn-default btn-xs js-export" style="display: none"><span class="glyphicon glyphicon-export" title="Экспорт"></span><span class='hidden-xs'> Экспорт</span></button>
    <button class="btn btn-default btn-xs js-share"><span class="glyphicon glyphicon-share-alt" title="Поделиться"></span><span class='hidden-xs'> Поделиться</span></button>    
    <button class="btn btn-default btn-xs js-delete"><span class="glyphicon glyphicon-trash" title="Удалить"></span><span class='hidden-xs'> Удалить</span></button>
</div>
