<form>
    <div class="form-group">
        <!-- <label for="title">Название шаблона</label> -->
        <input type="text" class="form-control" id="title" placeholder="Название шаблона" value="<%= title %>">
    </div>
    <div class="text-center">
        <div class="btn-group">
            <button class="btn btn-default js-ok">
                <span class="glyphicon glyphicon-ok"></span>
                <span>OK</span>
            </button>
            <button class="btn btn-default js-cancel">
                <span class="glyphicon glyphicon-remove"></span>
                <span>Отмена</span>
            </button>
        </div>
    </div>
</form>
