<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Общая информация</h3> </div>
    <div class="panel-body">
        Здесь Вы можете включить и отключить хранение Ваших шаблонов на удаленном сервере. Шаблоны также будут автоматически синхронизироваться с локальным списком шаблонов. Это позволит Вам использовать генератор с разных браузеров и даже компьютеров без необходимости пересоздавать шаблоны.
    </div>
</div>
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Предупреждение</h3> </div>
    <div class="panel-body">
        Соглашаясь на синхронизацию, отдавайте себе отчет, что Ваши данные будут хранится в Интернете. Другие пользователи не смогут их увидеть. Но администраторы сервера синхронизации, а также автор этого сайта, теоретически смогут посмотреть Ваши данные. Практически - автору это нафиг не надо. Насчет админов не уверен, но думаю тоже.
    </div>
</div>
<div class="panel panel-danger" id="error" style="display: none;">
    <div class="panel-heading">
        <h3 class="panel-title">Ошибка</h3> </div>
    <div class="panel-body" id="error-text">
        Соглашаясь на синхронизацию, отдавайте себе отчет, что Ваши данные будут хранится в Интернете. Другие пользователи не смогут их увидеть. Но администраторы сервера синхронизации, а также автор этого сайта, теоретически смогут посмотреть Ваши данные. Практически - автору это нафиг не надо. Насчет админов не уверен, но думаю тоже.
    </div>
</div>
<p class="text-center">
    <div id="logoff" style="display: none;">
        <div class="well">
            <div>
                <button class="btn btn-default js-logoff">Выключить синхронизацию</button>
            </div>
            Данные остануться на удаленом сервере, но не будут синхронизироваться с локальными. При повторном включении синхронизации локальные и удаленные данные будут объединены.
        </div>
        <span> или </span>
        <div class="well">
            <div>
                <button class="btn btn-default js-remove-data">Удалить данные</button>
            </div>
            Данные будут удалены с удаленного сервера. При повторном включении синхронизации локальные данные будут заново загружены на удаленный сервер.
        </div>
    </div>
    <div id="login" style="display: none;">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Пароль</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" placeholder="Пароль">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-default js-login">Войти</button>
                    <span> или </span>
                    <button class="btn btn-default js-register">Зарегистрироваться</button>
                    <span> или </span>
                    <button class="btn btn-default js-remove-user">Удалить аккаунт</button>
                </div>
            </div>
        </form>
        <div class="text-center">или войдите с помощью социальных сетей
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <div>
                <a href="#" style="color:#405D9A" class="js-facebook"><i class="fa fa-facebook-square fa-2x"></i></a>
                <a href="#" style="color:#1DA1F2" class="js-twitter"><i class="fa fa-twitter-square fa-2x"></i></a>
                <a href="#" style="color:#333333" class="js-github"><i class="fa fa-github-square fa-2x"></i></a>
                <a href="#" style="color:#DB4437" class="js-google"><i class="fa fa-google-plus-square fa-2x"></i></a>
            </div>
        </div>
    </div>
</p>
